

.navbar{
    background-color: #a3826a;
}

.fas{
    color: yellow;
}


.nav-item > a{
    color: white;
    font-weight: bold;
}

main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    opacity: 0.7;
}